.changeOrCancellationProcess{
	font-family: "楷体";
	font-size: 20px;
	font-weight: 11px;
	float: left; 
	width: 70%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.image{
	width: 100%;
	border: 1px solid #333;
	margin-bottom: 20px;
}

.image img{
	height: 100%;
}

.tips{
	font-family: "楷体";
	font-size: 17px;
	font-weight: 9px;
	float: left; 
	width: 70%;
	margin-right: 10%;
	margin-bottom: 20px;
}

.eachTip{
	float: left;
	width: 50%;
}


a.color1:link{color: black ; text-decoration:none;} /*常规时候的样式*/
a.color1:visited{color: #FF6600; text-decoration:none;} /*鼠标指上去的样式*/
a.color1:hover {color: #FF6600; text-decoration:underline;} /*访问过后的样式*/