.sidebar{
	float:left;
	width:20%;
}

.catalog{
	border:1px solid #14ab96;
	border-radius: 5px;
}

.navTitle{
	padding: 10px 15px;
	background-color: #14ab96;
	color:white;
	font-size: 17px;
	font-weight: 600;
	
}
.MessageBoard{
	float:left;
	width:80%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: white;
	color: #14ab96;
}

.nav-pills li a{
	color:#333;
	padding: 10px 30px;
}

.contactus{
	border:1px solid #14ab96;
	border-radius: 5px;
}