.sidebar{
	float:left;
	width:20%;
}

.catalog{
	border:1px solid #14ab96;
	border-radius: 5px;
	margin-bottom: 18px;
}

.navTitle{
	padding: 10px 15px;
	background-color: #14ab96;
	color:white;
	font-size: 17px;
	font-weight: 600;
	
}
.MessageBoard{
	float:left;
	width:80%;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
	background-color: white;
	color:#ffbe3b;
	font-size:17px;
	font-weight: 600;
}

.nav-pills li a{
	color:#333;
	padding: 10px 30px;
}

.contactus{
	border:1px solid #14ab96;
	border-radius: 5px;
	margin-bottom: 30px;
}

.ContactWay{
	list-style-type:none;
	padding-left: 30px;
}

.ContactWay>li{
	padding-top: 10px;
}

.comProfile{
	float:left;
	width:80%;
	padding-top: 30px;
}

.comProfile>p{
	font-size: 25px;
	font-family: "楷体";
	margin:10px;
}

.contactInfo{
	float:left;
	width:80%;
	padding-top: 30px;
}

.contactInfoFont{
	font-family: "微软雅黑";
	font-size:20px;
	margin: 10px;
	font-weight: 700;
}
