<!DOCTYPE html>

<link href="../styles/contact.css" rel="stylesheet" />
			<div class="navTitle">联系我们</div>
			<ul class="ContactWay">
			  <li> 电话：13707372026</li>
			  <li> 邮箱：635211012@qq.com</li>
			</ul>