<!DOCTYPE html>
<link href="../styles/style.css" rel="stylesheet" /> 
  <header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../images/logo01.png" alt="logo" style="width:160px" /></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li <%if(req.path=='/'){%>class="active"<%}%>><a href="/">公司首页</a></li> 
                        <li <%if(req.path=='/contact'||'/profile'){%> class="active dropdown" <%} else{%> class="dropdown" <%}%> >
                          <a href="#" data-toggle="dropdown" class="dropdown-toggle">关于我们<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="/profile">公司简介</a></li>
                            <li><a href="/contactInfo">联系方式</a></li>
                            <li><a href="/companyImg">公司荣誉</a></li>
                            <li><a href="/contact">在线留言</a></li> 
                          </ul>
                        </li> 
                        <li><a href="">公司注册</a></li>
                        <li <%if(req.path=='/bookkeeping'){%>class="active"<%}%>><a href="/bookkeeping">代理记账</a></li>
                        <li><a href="">变更注销</a></li>
                        <!--<li><a href="">公司团队</a></li>-->
                        <li <%if(req.path=='/recruit'){%>class="active"<%}%>><a href="/recruit">诚聘英才</a></li>
                        <li <%if(req.path=='/team'){%>class="active"<%}%>><a href="/team">公司团队</a></li>
                    </ul>
                </div>
            </div>
        </div>
  </header>