<!doctype html>
<link href="../styles/fancybox/jquery.fancybox.css" rel="stylesheet">
<!--<link href="../styles/jcarousel.css" rel="stylesheet" />-->
<link href="../styles/flexslider.css" rel="stylesheet" />
<!--<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">-->
<link href="../styles/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../styles/als/CSSreset.min.css" />
<link rel="stylesheet" type="text/css" href="../styles/als/default.css">
<link rel="stylesheet" type="text/css" media="screen" href="../styles/als/als_demo.css" />

<div id="wrapper" class="home-page">

  <!-- start header -->
  <% include  header.ejs %>
  <!-- end header -->
  <section id="banner">
   
  <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="../images/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Quality Touch</h3> 
          <p>Doloribus omnis minus temporibus perferquam</p> 
           
                </div>
              </li>
              <li>
                <img src="../images/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>High Performence</h3> 
          <p>Lorem ipsum dolo amet, consectetur  provident.</p> 
           
                </div>
              </li>
            </ul>
        </div>
  <!-- end slider -->
 
  </section> 
  <section id="call-to-action-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 aligncenter">
          <h3>欢迎来到源圆缘</h3>
          <p>这里是一些简介...</p>
          
        </div> 
      </div>
    </div>
  </section>
  
  <section id="content">
  
  
  <div class="container">
        <div class="row">
      <div class="col-md-12">
        <div class="aligncenter"><h2 class="aligncenter">我们的服务</h2>源圆缘公司提供了......</div>
        <br/>
      </div>
    </div>
      <div class="row">
    <div class="skill-home"> <div class="skill-home-solid clearfix"> 
    <div class="col-md-4 text-center">
    <span class="icons c1"><i class="fa fa-book"></i></span> <div class="box-area">
    <h3>公司注册</h3> <p>公司注册...</p></div>
    </div>
    <div class="col-md-4 text-center"> 
    <span class="icons c2"><i class="fa fa-users"></i></span> <div class="box-area">
    <h3>代理记账</h3> <p>代理记账...</p></div>
    </div>
    <div class="col-md-4 text-center"> 
    <span class="icons c3"><i class="fa fa-trophy"></i></span> <div class="box-area">
    <h3>变更注销</h3> <p>变更注销...</p></div>
    </div>
    <!--<div class="col-md-3 text-center"> 
    <span class="icons c4"><i class="fa fa-globe"></i></span> <div class="box-area">
    <h3>Products</h3> <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
    </div></div>-->
    </div></div>
    </div> 
   

  </div>
  </section>
  
    <section class="about home-about">
        <div class="container">
            
            <div class="row">
              <div class="col-md-4">
                <!-- Heading and para -->
                <div class="block-heading-two">
                  <h3><span>Why Choose Us?</span></h3>
                </div>
                <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur. <br><br>Sed ut perspiciaatis iste natus error sit voluptatem probably haven't heard of them accusamus.</p>
              </div>
              <div class="col-md-4">
                <div class="block-heading-two">
                  <h3><span>News & Updates</span></h3>
                </div>    
                <!-- Accordion starts -->
                <div class="panel-group" id="accordion-alt3">
                 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                  <div class="panel"> 
                  <!-- Panel heading -->
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                      <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 1
                      </a>
                    </h4>
                   </div>
                   <div id="collapseOne-alt3" class="panel-collapse collapse">
                    <!-- Panel body -->
                    <div class="panel-body">
                      Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                      <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 2
                      </a>
                    </h4>
                   </div>
                   <div id="collapseTwo-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                      <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 3
                      </a>
                    </h4>
                   </div>
                   <div id="collapseThree-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    </div>
                   </div>
                  </div>
                  <div class="panel">
                   <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                      <i class="fa fa-angle-right"></i> Accordion Heading Text Item # 4
                      </a>
                    </h4>
                   </div>
                   <div id="collapseFour-alt3" class="panel-collapse collapse">
                    <div class="panel-body">
                      Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    </div>
                   </div>
                  </div>
                </div>
                <!-- Accordion ends -->
                
              </div>
              
              <div class="col-md-4">
                <div class="info-box">
                  <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      
<!-- Bottom Carousel Indicators -->
<ol class="carousel-indicators">
  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
  <li data-target="#quote-carousel" data-slide-to="1"></li>
  <li data-target="#quote-carousel" data-slide-to="2"></li>
</ol>
        
<!-- Carousel Slides / Quotes -->
<div class="carousel-inner">

<!-- Quote 1 -->
<div class="item active">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.&rdquo;</p>
      <small><strong>Vulputate M., Dolor</strong></small>
    </div>
  </div>
</div>

<!-- Quote 2 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.&rdquo;</p>
      <small><strong>Fringilla A., Vulputate Sit</strong></small>
    </div>
  </div>
</div>

<!-- Quote 3 -->
<div class="item">
  <div class="row">
    <div class="col-sm-12">
      <p>&ldquo;Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.&rdquo;</p>
      <small><strong>Aenean A., Justo Cras</strong></small>
    </div>
  </div>
</div>
  
</div>
        

      </div>    
                </div>
              </div>
              
            </div>
            
                        
             
            <br>
           
            </div>
            
          </section>

  <section id="content">
      <div class="container">
          <div class="aligncenter">
              <h2 class="aligncenter">标题</h2>描述......
          </div>

          <div class="als-container" id="demo3">
            <span class="als-prev"><img src="../images/thin_left_arrow_333.png" alt="prev" title="previous" /></span>
            <div class="als-viewport">
              <ul class="als-wrapper">
                <li class="als-item"><img src="../images/business/001.jpg" alt="orange" title="orange" />001</li>
                <li class="als-item"><img src="../images/business/002.jpg" alt="orange" title="orange" />001</li>
                <li class="als-item"><img src="../images/business/003.jpg" alt="orange" title="orange" />001</li>
                <li class="als-item"><img src="../images/business/004.jpg" alt="orange" title="orange" />001</li>
                <li class="als-item"><img src="../images/business/005.jpg" alt="orange" title="orange" />001</li>
              </ul>
            </div>
            <span class="als-next"><img src="images/thin_right_arrow_333.png" alt="next" title="next" /></span>
          </div>
      </div>
  </section>
          
          
  <section class="section-padding">
    <div class="container"> 
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="about-text">
              <h2>About Us</h2>
            <p>Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada Pellentesque <br>ipsum id orci porta dapibus. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
            
            <p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta.</p> 
            <p>Grids is a responsive Multipurpose Template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet quam id dui posuere blandit.</p> 
            <a href="#" class="lineBtn">Read More</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="about-image">
            <img src="../images/about.jpg" alt="About Images">
          </div>
        </div>
      </div>
    </div>
  </section>    
  
  <!--  footer  -->
  <% include footer.ejs %>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.easing.1.3.js"></script>
<script src="../js/jquery.fancybox.pack.js"></script>
<script src="../js/jquery.fancybox-media.js"></script>  
<script src="../js/jquery.flexslider.js"></script>
<script src="../js/animate.js"></script>
<!-- Vendor Scripts--> 
<script src="../js/modernizr.custom.js"></script>
<script src="../js/jquery.isotope.min.js"></script>
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/animate.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/jquery.als-1.7.min.js"></script>
<!--<script src="../js/owl-carousel/owl.carousel.js"></script>-->
<script>
$(document).ready(function() {
  //carousel options
  $('#quote-carousel').carousel({
    pause: true, interval: 10000,
  });

  $("#demo3").als({
        visible_items: 4,
        scrolling_items: 2,
        orientation: "horizontal",
        circular: "yes",
        autoscroll: "yes",
        interval: 4000
      });
});
</script>
</body>
</html>
